$font-primary: "Poppins", sans-serif;
$font-secondary: "SF Pro Display", sans-serif;

$blue: #005ff7;
$my-primary: #111;
$my-transparent: transparent;
$my-danger: #ff4757;

$layout-padding-x: 10%;
$layout-padding-y: 30px;
$layout-header-height: 70px;

$sidecart-width: 405px;
$page-max-width: 1300px;
