.info__card {
	border: 1px solid grey;
	border-radius: 4px;
	padding: 25px 20px;
	margin-bottom: 20px;
	transition: ease all 0.3s;
}

.button__card {
	border-radius: 2px;
	background: $blue;
	color: $white;

	&.-danger {
		background: $red;
	}

	&.-outline {
		background: transparent !important;
		border: 1px solid $blue;
		color: $blue !important;
	}
}

.item__card {
	max-width: 25%;
	width: 100%;
	position: relative;
	margin-top: 70px;

	&__console {
		left: 30px;
		top: 15px;
		padding: 5px 20px;
		background: $my-primary;
		color: white;
		background: black;
		text-transform: uppercase;
	}

	&__image {
		height: 300px;
		width: 100% !important;
	}

	&__title {
		font-size: 18px;
		text-transform: capitalize;
		font-weight: 400;
		color: #262626;
	}

	&__price {
		font-size: 16px;	
	}
}

.floating__cart {
	position: fixed !important;
	background: #262626;
	right: 40px;
	bottom: 80px;
	z-index: 99;
	height: 65px !important;
	width: 100px !important;
	transition: all .3s ease;

	.item__count {
		display: none;
		width: 0;
		margin-left: 20px !important;
		opacity: 0;
	}

	&:hover {
		width: 200px !important;
		
		.item__count {
			display: flex;
			width: max-content;
			opacity: 1;
		}
	}

	* {
		color: white;
	}
}

.side__cart {
	width: 100%;
	max-width: $sidecart-width;
	transition: all 0.3s ease-in;
	position: fixed;
	right: -$sidecart-width;
	background: white;
	box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.05);
	z-index: 90;
	bottom: 0;
	height: 100%;

	&.-open {
		right: 0;
	}
	
	&__header {
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
		padding: 23px 25px;
	}

	&__list {
		height: calc(100% - 180px);
		overflow-y: scroll;

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.7);
			box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.7);
			background-color: #fff;
		}

		&::-webkit-scrollbar {
			width: 6px;
			background-color: #fff;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #9b9b9b;
			border-radius: 100px;

			&:hover {
				background-color: rgb(71, 71, 71);
			}
		}
	}

	&__footer {
		text-decoration: none !important;
	}

	&__checkout {
		cursor: pointer !important;
		width: 354px;
		height: 56px;
		background: #262626;
		border-radius: 4px;
		padding: 4px;
		margin-left: 25px;
		outline: none !important;
		border: none !important;
		margin-top: 25px;
		margin-bottom: 75px;
		
		.checkout__label {
			font-size: 14px;
			color: #FFFFFF;
			margin-left: 36px;
		}
		
		.checkout__inner {
			background: #FFFFFF;
			color: #262626;
			border-radius: 4px;
			width: 122px;
			height: 48px;
		}
	}
}

.cart-item__card {
	padding: 20px 25px;

	&__quantities {
		margin-right: 35px;

		button {
			border-radius: 1px !important;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 22px;
			height: 22px;
			background: #ededed;
			border-radius: 1px;
			border: none !important;
			outline: none !important;

			* {
				font-size: 14px;
			}
		}

		.cart-item__card__quantity {
			text-align: center;
			margin: 20px 0px;
		}
	}

	&__img {
		width: 75px;
		height: 100px;
		margin-right: 20px;
	}

	&__name {
		font-weight: 400 !important;
		font-size: 14px;
		line-height: 19.07px;
	}

	&__price {
		font-size: 16px;
		font-weight: 700px !important;
	}
}

.step__card {
	padding: 30px 0px 30px 40px;
	background: #ffffff;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
	border-radius: 4px;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	&__header {
		padding-right: 40px;

		.add__new {
			font-family: Open Sans;
			font-weight: 600;
			font-size: 12px;
		}
	}

	&__title {
		font-family: Open Sans;
		font-size: 20px;
	}

	&__number {
		width: 34px;
		height: 34px;
		background: #262626;
		font-family: Poppins;
		font-weight: 600;
		font-size: 18px;
		color: #ffffff;
		border-radius: 1000px;
	}

	&__body {
		overflow-x: scroll;
		margin-left: -40px;

		&::-webkit-scrollbar-track {
			background-color: rgb(255, 255, 255);
			width: calc(100% - 123px);
			margin-left: 95px;
			margin-right: 40px;
		}

		&::-webkit-scrollbar {
			height: 2px;
			background-color: #fff;
			width: calc(100% - 123px);
		}

		&::-webkit-scrollbar-thumb {
			background-color: #9b9b9b;
			border-radius: 0px;
			margin-left: 95px;
			margin-right: 40px;

			&:hover {
				background-color: rgb(71, 71, 71);
			}
		}
	
		.card-spacer {
			min-width: 20px !important;
		}
	}

	.proceed__with__checkout {
		padding-right: 40px;

		.checkout__label {
			font-family: Open Sans;
			font-size: 14px;
			line-height: 19px;
			color: #686A7E;
		}

		#place-order-btn {
			* {
				font-family: Open Sans;
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
}

.step-info__card {
	background: #F7F7F7;
	border-radius: 4px;
	padding: 12px 22px;
	min-width: 190px;
	max-width: 210px;
	height: 112px;
	
	&.-active, &:hover {
		background: #FFFFFF;
		border: 1px solid #262626;
		box-sizing: border-box;
		height: 110px;
		padding: 11px 21px;
	}
	
	&:first-child {
		margin-left: 95px;
	}

	&:not(:last-child) {
		margin-right: 20px;
	}

	&__title {
		font-family: Open Sans;
		font-weight: 600;
		font-size: 14px;
		color: #000000;
	}

	&__body {
		font-family: Open Sans;
		font-size: 14px;
		line-height: 19px;

		color: #43465F;
	}
}
