.item-details {
    z-index: 200;

    .rjsm__modal {
        padding: 0;
        max-height: 550px;
        height: 100%;
        border-radius: 0;
    }

    &.rjsm__container {
        padding: 10px;
    }

    .row, .col-6 {
        height: 100%;
    }
    
    &__image {
        width: 100%;
        height: 100%;
    }

    &__details {
        padding: 40px;
        max-height: 550px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .item-details {
            &__tags {
                .item-details__tag {
                    background: #ededed;
                    border-radius: 4px;
                    color: #8a8a8a;
                    font-weight: 600;
                    font-size: 12px;
                    padding: 8px 20px;
                    text-transform: capitalize;
                    
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }

            &__title {
                font-weight: 400;
                font-size: 18px;
                line-height: 24.51px;
            }

            &__price {
                font-weight: 700;
                font-size: 20px;
            }

            &__description {
                font-size: 16px;
                line-height: 22px;
                color: #5b5b5b;
            }

            &__cart__btn {
                border-radius: 0;
                padding: 0;
                background: #262626;
                color: white;
                width: 130px;
                height: 50px;
                font-size: 14px;
            }
        }
    }
}

.modal__close, .modal-close {
    cursor: pointer;
}
