.floating__cart {
	position: fixed !important;
	background: #262626;
	right: 40px;
	bottom: 80px;
	z-index: 99;
	height: 65px !important;
	width: 100px !important;
	transition: all .3s ease;

	.item__count {
		display: none;
		width: 0;
		margin-left: 20px !important;
		opacity: 0;
	}

	&:hover {
		width: 200px !important;
		
		.item__count {
			display: flex;
			width: max-content;
			opacity: 1;
		}
	}

	* {
		color: white;
	}
}

.side__cart {
	width: 100%;
	max-width: $sidecart-width;
	transition: all 0.3s ease-in;
	position: fixed;
	right: -$sidecart-width;
	background: white;
	box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.05);
	z-index: 90;
	bottom: 0;
	height: 100%;

	&.-open {
		right: 0;
	}
	
	&__header {
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
		padding: 23px 25px;
	}

	&__list {
		height: calc(100% - 180px);
		overflow-y: scroll;

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.7);
			box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.7);
			background-color: #fff;
		}

		&::-webkit-scrollbar {
			width: 6px;
			background-color: #fff;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #9b9b9b;
			border-radius: 100px;

			&:hover {
				background-color: rgb(71, 71, 71);
			}
		}
	}

	&__footer {
		text-decoration: none !important;
	}

	&__checkout {
		cursor: pointer !important;
		width: 354px !important;
		height: 56px;
		background: #262626;
		border-radius: 4px;
		padding: 4px;
		margin-left: 25px;
		outline: none !important;
		border: none !important;
		margin-top: 25px;
		margin-bottom: 75px;
		
		.checkout__label {
			font-size: 14px;
			color: #FFFFFF;
			margin-left: 36px;
		}
		
		.checkout__inner {
			background: #FFFFFF;
			color: #262626;
			border-radius: 4px;
			width: 122px;
			height: 48px;
		}
	}
}

.cart-item__card {
	padding: 20px 25px;

	&__quantities {
		margin-right: 35px;

		button {
			border-radius: 1px !important;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 22px;
			height: 22px;
			background: #ededed;
			border-radius: 1px;
			border: none !important;
			outline: none !important;

			* {
				font-size: 14px;
			}
		}

		.cart-item__card__quantity {
			text-align: center;
			margin: 20px 0px;
		}
	}

	&__img {
		width: 75px;
		height: 100px;
		margin-right: 20px;
	}

	&__name {
		font-weight: 400 !important;
		font-size: 14px;
		line-height: 19.07px;
	}

	&__price {
		font-size: 16px;
		font-weight: 700px !important;
	}
}