.layout__topnav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: $layout-header-height;
    z-index: 20;
    transition: all .3s ease;
    
    * {
        color: white;
    }

    &.-active {
        background: white;
        color: black;
        box-shadow: 0px 2px 5px #0001;
    }

    .logo {
        width: 70px;
        height: 100px;
    }
    
    &__inner {
        padding: 0px $layout-padding-x;
        padding-right: calc(10% + 9px);
        width: 100%;
        max-width: calc(1300px + 12px) !important;
    }

    .logo__container {
        .logo {
            width: 23px;
            height: 31px;
        }
    }

    &__guest {
        width: 100%;
        max-width: 300px;
        
        .login__btn, .register__btn {
            max-width: 250px;
            width: 100%;
            border-radius: 0 !important;
        }
    }

    &__auth {
        height: 100%;

        .user__avatar {
            width: 40px;
            height: 40px;
            margin-right: 12px;
            margin-left: 32px;
            background: #262626;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: -0.01em;
            color: #fff !important;
            border-radius: 50%;
        }

        .username {
            font-family: Sen;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: #262626;
            margin: 4px 0px;

            .my-icon {
                margin-left: 2px;
                font-size: 19px;
                font-weight: bold;
            }
        }
    }
}