.layout__topnav {
    display: flex;
    background-color: transparent !important;
    height: 120px !important;

    &.-active {
        position: fixed;
        box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.2);
        transition: all .3s ease;
        background-color: white !important;
        height: 70px !important;
        
        * {
            color: black !important;
        }
    }

    &.-hidden {
        opacity: 0;
        transition: transform 0.4s, opacity 0.4s;
        pointer-events: none;
    }
}
