.homepage {
    .hero__section {
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.27)), url("./../../images/home.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__inner {
            width: 100%;
            height: 100%;
            position: relative;
            max-width: $page-max-width !important;
            padding-left: 9.8%;

            .hero__text {
                position: absolute;
                margin-left: 0px;
                bottom: 100px;
                max-width: 480px;

                h1 {
                    color: $my-primary;
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 62px;
                    line-height: 93px;
                    margin-bottom: 0px !important;
                }

                p {
                    color: $my-primary;
                    font-family: Open Sans;
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
    }

    .sort__bar {
        margin-bottom: -30px;

        select {
            background-color: #fafafa !important;
            text-transform: uppercase;
            
            option {
                text-transform: uppercase;
            }
        }
    }

    .item__cards {
        margin-bottom: 70px !important;
    }

    .load-more__btn {
        margin-bottom: 70px !important;
        max-width: 150px;
        border-radius: 0 !important;
    }
}
